<a href="https://colab.research.google.com/github/yuuki08noah/Bigdata-Analysis/blob/master/2025_2%ED%95%99%EB%85%84_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_%EC%B0%B8%EA%B3%A0%EC%9E%90%EB%A3%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. AI의 문제 해결 방식 ( PPT 10 )
2. 빅데이터의 특징 ( PPT 15 )
3. 데이터 수집 프로세스( PPT 21 )
4. 정형, 반정형, 비정형 데이터 ( PPT 22, 23 )
5. 데이터 수집 기술 ( PPT 24 )
6. DataFrame ( PPT 25, 26 )
7. pd.read_html( PPT 28 )
8. 데이터변환( PPT 39, 40 )
9. 이상데이터 시각화( PPT 54 )

In [ ]:
import pandas as pd
url = 'https://www.koreabaseball.com/Record/Player/HitterBasic/BasicOld.aspx'
tables = pd.read_html( url )
tables[0].to_excel("KBO_타자기록.xlsx")
df = pd.DataFrame( tables[0] )
print( df )

In [ ]:
# 딕셔너리로 데이터프레임 만들기
# 1. 다음 딕셔너리를 이용해 데이터 프레임을 생성하세요.
data = {
    '이름': ['김철수', '이영희', '박민수'],
    '성별': ['남', '여', '남'],
    '나이': [20, 22, 21]
}

# 2. 다음과 같은 딕셔너리를 이용해 데이터 프레임을 생성하세요.
data = {
    'Country': ['Korea', 'Japan', 'China', 'USA'],
    'Capital': ['Seoul', 'Tokyo', 'Beijing', 'Washington D.C.'],
    'Population (M)': [51, 126, 144, 331]
}

In [ ]:
 # 다음 딕셔너리를 데이터프레임으로 만들고, csv 파일로 저장후 다시 불러오는 코드를 작성하시오.
 data = {
    'year':[2016, 2017, 2018],
    'GDP rate': [2.8, 3.1, 3.0],
    'GDP': ['1.637M', '1.73M', '1.83M' ]
}

**1. head() 사용**
*   문제 1-1 tips 데이터프레임에서 처음 5개의 행을 출력하세요.
*   문제 1-2 tips 데이터프레임에서 처음 10개의 행을 출력하세요.

**2. tail() 사용**
*   문제 2-1 tips 데이터프레임에서 마지막 5개의 행을 출력하세요.
*   문제 2-2 tips 데이터프레임에서 마지막 3개의 행을 출력하세요.

**3. shape 사용**
*   문제 3-1 tips 데이터프레임의 행의 개수와 열의 개수를 출력하세요.
*   문제 3-2 tips 데이터프레임의 총 데이터 개수를 구하세요.
힌트: shape의 값을 곱하면 총 데이터 개수를 구할 수 있습니다.

**4. info() 사용**
*   문제 4-1 tips 데이터프레임의 데이터 타입과 결측치 개수를 확인하세요.
*   문제 4-2 각 열의 데이터 타입을 출력하세요.

**5. describe() 사용**
*   문제 5-1 tips 데이터프레임에서 기술 통계 요약값(평균, 표준편차 등)을 출력하세요.
*   문제 5-2 total_bill, tip의 평균값과 중앙값을 출력하세요.

**6. corr() 사용**
*   문제 6-1 tips 데이터프레임에서 각 수치형 열 간의 상관 계수를 출력하세요.
*   문제 6-2 total_bill과 tip의 상관 계수를 출력하세요.

**7. nunique() 사용**
*   문제 7-1 tips 데이터프레임의 각 열에서 고유값의 개수를 출력하세요.
*   문제 7-2 day 열의 고유값 개수를 출력하세요.

**8. value_counts() 사용**
*   문제 8-1 day 열의 값별 빈도수를 출력하세요.
*   문제 8-2 sex 열의 값별 빈도수를 출력하세요.

In [ ]:
# 탐색적 데이터 분석(EDA)
import pandas as pd
import seaborn as sns
tips = sns.load_dataset("tips")
print( tips.shape )
print( tips.info() )

In [ ]:
tips['smoker'] = tips['smoker'].astype('str')
tips.info()

In [ ]:
# 데이터 추출 연습
# 열단위, 행단위( index, 행번호 이해 필요)



# 조건 이용 추출




# 파생 변수 만들기


# 데이터 변

In [ ]:
# 가격을 int로

# 칼로리를 float 로

In [ ]:
# 할인가 컬럼 추가
discount = 0.2

In [ ]:
# 1행 삭제

# 칼로리 삭제

In [ ]:
# 결측값으로 추가, 원산지 컬럼을 만들고 결측값(NaN)으로 대입

# 아메리카노의 원산는 '콜롬비아' 데이터 추가

# 리스트 형태로 데이터(행) 추가 : loc 사용, 인덱스는 '시즌', 데이터는 ['크리스마스라떼', 6000, 300, 4800, '한국']

# 딕셔너리 형태로 데이터(행) 추가 : loc 사용, 인덱스는 7, 데이터는 {'메뉴':'딴짓커피', '가격':2000, '칼로리':20, '할인가':1600, '원산지':'케냐'}

In [ ]:
# 인덱스 기준 (기본값 ascending=True) 정렬


# 메뉴 기준 정렬


# 가격과 메뉴 기준 정렬

# 인덱스 새로 만들기 drop=True

In [ ]:
# 칼로리가 50 미만 데이터

# 칼로리가 50 이상 데이터 ( 조건문에  ~  붙이는 방법 )

# 가격이 5000 이상이고 칼로리가 100 초과인 데이터


# 메뉴에 '녹차' 가 있는 경우

# 메뉴에 '녹차' '카푸치노' '카페라떼' 가 있는 경우

In [ ]:
# 데이터 준비
import pandas as pd
import numpy as np
data = {
    "메뉴":['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차', '딴짓커피'],
    "가격":[4500.0, 5000.0, 5500.0, 5000.0, 4000.0, 5900.0, 5300.0, 2000 ],
    "칼로리":[10, 110, 250, 110, 20, 210, 0, 20],
    "원산지":['콜롬비아', np.nan, '과테말라','과테말라', np.nan, np.nan, np.nan, np.nan]
}
df = pd.DataFrame(data)
df.info()

## 결측치 처리

In [ ]:
df.isnull()

In [ ]:
# 컬럼별 결측치 확인
df.isnull().sum()

In [ ]:
# 컬럼별 결측치 확인
df.isna().sum()

In [ ]:
# 결측값 채우기
df['원산지'].fillna('코스타리카', inplace=True)
#df['원산지']= df['원산지'].fillna('코스타리카')
df

In [ ]:
# 문자 변경 : 아메리카노 -> 룽고, 녹차 -> 그린티
df.replace('아메리카노', '룽고', inplace=True)
df.replace('녹차','그린티', inplace=True)
df

In [ ]:
change = {'룽고':'아메리카노', '그린티':'녹차'}
df.replace(change, inplace=True)
df

In [ ]:
# loc로 값 변경하기
df.loc[6, '원산지'] = '대한민국'
df.tail(3)

In [ ]:
# 이벤트가 전체 1000으로 변경
df.loc[1:2, '이벤트가'] = 1000
df.head()

In [ ]:
df.to_csv("cafe4.csv", index=False)

## 문자열

In [ ]:
import pandas as pd
df = pd.DataFrame({'A': ['데이터 분석', '기본 학습서', '퇴근 후 열공'],
                   'B': [10, 20, 30],
                   'C': ['ab cd', 'AB CD', 'ab cd '] } )
df

In [ ]:
df['A'] = df['A'].replace('분석', '시각화')
df

In [ ]:
df['A'] = df['A'].str.replace('분석', '시각화')
df

In [ ]:
df['B'] = df['B'].replace(10, 100)
df

In [ ]:
# 에러
# df['B'] = df['B'].str.replace(20, 200)
# print(df)

In [ ]:
# 문자열 분리
df['A'].str.split()

In [ ]:
df['A'].str.split()[0]

In [ ]:
df['D'] = df['A'].str.split().str[0]
df

In [ ]:
# 문자 검색
df['A'].str.contains('기본')

In [ ]:
df['기본포함유무'] = df['A'].str.contains('기본')
df

In [ ]:
menu = pd.Series(['맛난버거 세트', '매운 치킨버거', '더블 치즈버거'])
menu.isin(['맛난버거 세트', '더블 치즈버거'])

In [ ]:
menu.str.contains('세트')

In [ ]:
df['문자길이'] = df['A'].str.len()
df

In [ ]:
'AB cd' == 'ab CD'

In [ ]:
df['C'] = df['C'].str.lower()
df['C']

In [ ]:
df['C'] = df['C'].str.upper()
df['C']

In [ ]:
df['C'] == 'AB CD'

In [ ]:
df['C'] = df['C'].str.lower()
df['C'] = df['C'].str.replace(" ","")
df['C']

In [ ]:
df['C'].str[1:3]

In [ ]:
df['C'][1:3]

## 내장함수
- 데이터 핸들링을 위한 판다스 기초1(EDA) 부분에서 일부 내장함수를 학습했고, 그외 함수에 대해 살펴봄

In [ ]:
df = pd.read_csv("cafe4.csv")
df.head(2)

In [ ]:
print(len(df))
print(df.shape[0])

In [ ]:
cond = df['가격'] > 5000

#sum으로 조건에 맞는 개수 구하기
print(sum(cond))

#len으로 조건에 맞는 개수 구하기
print(len(df[cond]))

In [ ]:
df.sum(numeric_only=True)

In [ ]:
df.sum(axis=1, numeric_only=True)

In [ ]:
print("최대값: ",df['가격'].max())
print("최소값: ",df['가격'].min())
print("평균값: ",df['가격'].mean())
print("중앙값: ",df['가격'].median())
print("합계: ",df['가격'].sum())
print("표준편차: ",df['가격'].std())
print("분산: ",df['가격'].var())

In [ ]:
# 분위수
print("분위수 25% 값", df['가격'].quantile(.25))
print("분위수 75% 값", df['가격'].quantile(.75))

In [ ]:
# 하위 25% 데이터
cond = df['가격'].quantile(.25) > df['가격']
df[cond]

In [ ]:
# 상위 25% 데이터
cond = df['가격'].quantile(.75) < df['가격']
df[cond]

In [ ]:
# 최빈값 구하기
df['원산지'].mode()[0]

In [ ]:
df['가격'].idxmax()

In [ ]:
max_ind = df['가격'].idxmax()
df.loc[max_ind]

In [ ]:
# df.loc[max_ind, '메뉴'] # 추천 방법
df.loc[max_ind]['메뉴'] # 다른 방법

In [ ]:
df.nlargest(3, '가격')

In [ ]:
df.nsmallest(2, '가격')

In [ ]:
# apply 적용해서 새로운 컬럼 생성 (칼로리 컬럼 활용)
def cal(x):
    if x >= 100:
        return "No"
    else:
        return "Yes"

df['먹어도 될까요'] = df['칼로리'].apply(cal)
# df['먹어도 될까요'] = df['칼로리'].apply(lambda x: 'No' if x >= 100 else 'Yes')
df

**[연습문제]**

데이터 파일 다운로드 >>  [cafe_review.csv](https://drive.google.com/file/d/1jyxbuLb55gUD0UcW85KOYJgdNQvS90q8/view?usp=sharing)

1. 결측치 처리 (isnull, fillna, loc 등)
전체 결측치가 존재하는 열의 개수를 출력하세요.

원산지 컬럼의 결측값을 "케냐"로 채우세요.

이벤트가 컬럼의 결측값을 3000으로 채우세요.

카푸치노의 원산지를 "베트남"으로 수정하세요. (loc 사용)

칼로리가 100 이상인 메뉴에 대해 이벤트가를 2000으로 변경하세요.

2. 문자열 처리 (replace, split, contains, str.len 등)
'아메리카노'를 '룽고', '녹차'를 '그린티'로 바꾸세요.

변경한 이름을 다시 원래대로 되돌리세요.

메뉴 이름 중 '카페'가 포함된 메뉴는 어떤 것인지 Boolean Series로 확인하세요.

메뉴 이름의 글자 수를 나타내는 메뉴길이 컬럼을 추가하세요.

글자 수가 4자 이상인 메뉴만 필터링해서 출력하세요.

3. 내장 함수 및 통계 함수 활용
가격의 최댓값, 최솟값, 평균값, 중앙값을 각각 출력하세요.

가격의 25% 분위수 이하인 메뉴만 출력하세요.

이벤트가 컬럼의 최빈값을 구하세요.

칼로리가 100 이상이면 "No", 아니면 "Yes"를 나타내는 먹어도 될까요 컬럼을 추가하세요. (apply)

가격 상위 3개 메뉴의 이름과 가격을 출력하세요.

## 그룹핑

[데이터 링크 ](https://drive.google.com/drive/folders/1mtDnW4uoTrd4byTBx46v0prpUPfAMmbP?usp=drive_link)
1. exam_sample.csv
2. mpg.csv

In [ ]:
import pandas as pd
import numpy as np

exam = pd.read_csv( '/content/drive/MyDrive/exam_sample.csv', encoding='euc-kr')
exam.info()

In [ ]:
exam['math'].groupby(exam['class']).mean()
exam.groupby('class')['math'].mean()
exam.groupby('class').agg( mean_math=('math', 'mean'))

# [ 연습문제 ] 평균점수가 40미만인 그룹들의 데이터를 출력하라

**MPG 데이터 분석**

*   어떤 차종의 도시 연비가 높은지 비교 : category( 자동차 7종류 ), cty(도시연비) - 카테고리별 도시연비 평균을 내림차순으로 정렬
*   어떤 회사 자동차의 hwy(고속도로연비)가 높은지 알아보려고 한다. hwy평균이 가장 높은 회사 세 곳을 출력하시오.
*   어떤 회사에서 ‘compact’차종을 가장 많이 생산하지는지 알아보려고 한다. 회사별 ‘compact’차종 수를 내림차순으로 정렬해 출력하시오.
( nunique )

In [ ]:
mpg.groupby('category')['cty'].mean().sort_values(ascending=False)
mpg.groupby('manufacturer')['hwy'].mean().sort_values(ascending=False).head(3)
mpg[mpg['category'] == 'compact'].groupby('manufacturer')['model'].count().sort_values(ascending=False)