<a href="https://colab.research.google.com/github/yuuki08noah/Bigdata-Analysis/blob/master/%5B%EB%AC%B8%EC%A0%9C%ED%95%B4%EA%B2%B006%5D%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%8B%9C%EA%B0%81%ED%99%94(2206_%EB%B0%A9%EC%84%B8%EC%A4%80).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#데이터 시각화 개념과 중요성(이론)

1. 데이터 시각화란 무엇인가? 시각화가 왜 중요한가?

2. 인상 깊었던 시각화 사례를 적고 그 이유를 설명하라.

3. 그래프 종류와 활용 예시를 구체적인 데이터 사례를 들어 설명하라. ( 막대, 히스토그램, 선형그래프, 산점도, 박스플롯, 히트맵 )

4. 위에서 제시한 그래프 외에 다른 그래프를 하나 찾아 사례를 설명하라.

#데이터 시각화 실습 (Colab 기반)
본 노트북은 다양한 그래프를 파이썬으로 그리며 시각화 기법을 익히는 실습입니다.

In [ ]:
# 기본 라이브러리 불러오기
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 예시 데이터셋 로딩
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## 1. 막대그래프 (Bar Plot)
성별에 따른 생존자 수 비교

In [ ]:
sns.countplot(data=df, x='sex', hue='survived')
plt.title('성별 생존자 수 비교')
plt.show()

## 2. 히스토그램 (Histogram)
요금 분포 시각화

In [ ]:
plt.hist(df['fare'], bins=20, edgecolor='black')
plt.title('요금 분포 히스토그램')
plt.xlabel('Fare')
plt.ylabel('Frequency')
plt.show()

## 3. 상관관계 히트맵 (Correlation Heatmap)

In [ ]:
sns.heatmap(df.corr(numeric_only=True), annot=True, cmap='coolwarm')
plt.title('변수 간 상관관계 히트맵')
plt.show()

## 4. 산점도 (Scatter Plot)
나이와 요금의 관계

In [ ]:
sns.scatterplot(x='age', y='fare', data=df)
plt.title('나이와 요금의 관계')
plt.xlabel('Age')
plt.ylabel('Fare')
plt.show()

## 5. 박스플롯 (Boxplot)
Pclass별 요금 분포

In [ ]:
sns.boxplot(x='pclass', y='fare', data=df)
plt.title('Pclass별 요금 분포')
plt.show()

## 6. 자신이 추가로 컬럼들을 조합하여 시각화 한 사례 코드 제시

## [참고] 코랩 그래프 한글 깨질 떄

1. 걍 한글이면 되는 경우?

!pip install koreanize-matplotlib
import koreanize_matplotlib

2. 글꼴 지정할 수 있는 방식
!apt-get install -y fonts-nanum*
!rm -rf /root/.cache/matplotlib/* # 폰트 캐시 재설정

런타임 다시 시작 후 실행
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl
#
path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'
font_name = mpl.font_manager.FontProperties(fname=path).get_name()
plt.rcParams['font.family'] = font_name