<a href="https://colab.research.google.com/github/yuuki08noah/Bigdata-Analysis/blob/master/%5B%EB%AC%B8%EC%A0%9C%ED%95%B4%EA%B2%B004%5D_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%883.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 데이터 준비
import pandas as pd
import numpy as np
data = {
    "메뉴":['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차', '딴짓커피'],
    "가격":[4500.0, 5000.0, 5500.0, 5000.0, 4000.0, 5900.0, 5300.0, 2000 ],
    "칼로리":[10, 110, 250, 110, 20, 210, 0, 20],
    "원산지":['콜롬비아', np.nan, '과테말라','과테말라', np.nan, np.nan, np.nan, np.nan]
}
df = pd.DataFrame(data)
df.info()

## 결측치 처리

In [ ]:
df.isnull()

In [ ]:
# 컬럼별 결측치 확인
df.isnull().sum()

In [ ]:
# 컬럼별 결측치 확인
df.isna().sum()

In [ ]:
# 결측값 채우기
df['원산지'].fillna('코스타리카', inplace=True)
df

In [ ]:
# 문자 변경 : 아메리카노 -> 룽고, 녹차 -> 그린티
df.replace('아메리카노', '룽고', inplace=True)
df.replace('녹차','그린티', inplace=True)
df

In [ ]:
change = {'룽고':'아메리카노', '그린티':'녹차'}
df.replace(change, inplace=True)
df

In [ ]:
# loc로 값 변경하기
df.loc[6, '원산지'] = '대한민국'
df.tail(3)

In [ ]:
# 이벤트가 전체 1000으로 변경
df.loc[1:2, '이벤트가'] = 1000
df.head()

In [ ]:
df.to_csv("cafe4.csv", index=False)

## 문자열

In [ ]:
import pandas as pd
df = pd.DataFrame({'A': ['데이터 분석', '기본 학습서', '퇴근 후 열공'],
                   'B': [10, 20, 30],
                   'C': ['ab cd', 'AB CD', 'ab cd ']
                   })
df

In [ ]:
df['A'] = df['A'].replace('분석', '시각화')
df

In [ ]:
df['A'] = df['A'].str.replace('분석', '시각화')
df

In [ ]:
df['B'] = df['B'].replace(10, 100)
df

In [ ]:
# 에러
# df['B'] = df['B'].str.replace(20, 200)
# print(df)

In [ ]:
# 문자열 분리
df['A'].str.split()

In [ ]:
df['A'].str.split()[0]

In [ ]:
df['D'] = df['A'].str.split().str[0]
df

In [ ]:
# 문자 검색
df['A'].str.contains('기본')

In [ ]:
df['기본포함유무'] = df['A'].str.contains('기본')
df

In [ ]:
menu = pd.Series(['맛난버거 세트', '매운 치킨버거', '더블 치즈버거'])
menu.isin(['맛난버거 세트', '더블 치즈버거'])

In [ ]:
menu.str.contains('세트')

In [ ]:
df['문자길이'] = df['A'].str.len()
df

In [ ]:
'AB cd' == 'ab CD'

In [ ]:
df['C'] = df['C'].str.lower()
df['C']

In [ ]:
df['C'] = df['C'].str.upper()
df['C']

In [ ]:
df['C'] == 'AB CD'

In [ ]:
df['C'] = df['C'].str.lower()
df['C'] = df['C'].str.replace(" ","")
df['C']

In [ ]:
df['C'].str[1:3]

In [ ]:
df['C'][1:3]

## 내장함수
- 데이터 핸들링을 위한 판다스 기초1(EDA) 부분에서 일부 내장함수를 학습했고, 그외 함수에 대해 살펴봄

In [ ]:
df = pd.read_csv("cafe4.csv")
df.head(2)

In [ ]:
print(len(df))
print(df.shape[0])

In [ ]:
cond = df['가격'] > 5000

#sum으로 조건에 맞는 개수 구하기
print(sum(cond))

#len으로 조건에 맞는 개수 구하기
print(len(df[cond]))

In [ ]:
df.sum(numeric_only=True)

In [ ]:
df.sum(axis=1, numeric_only=True)

In [ ]:
print("최대값: ",df['가격'].max())
print("최소값: ",df['가격'].min())
print("평균값: ",df['가격'].mean())
print("중앙값: ",df['가격'].median())
print("합계: ",df['가격'].sum())
print("표준편차: ",df['가격'].std())
print("분산: ",df['가격'].var())

In [ ]:
# 분위수
print("분위수 25% 값", df['가격'].quantile(.25))
print("분위수 75% 값", df['가격'].quantile(.75))

In [ ]:
# 하위 25% 데이터
cond = df['가격'].quantile(.25) > df['가격']
df[cond]

In [ ]:
# 상위 25% 데이터
cond = df['가격'].quantile(.75) < df['가격']
df[cond]

In [ ]:
# 최빈값 구하기
df['원산지'].mode()[0]

In [ ]:
df['가격'].idxmax()

In [ ]:
max_ind = df['가격'].idxmax()
df.loc[max_ind]

In [ ]:
# df.loc[max_ind, '메뉴'] # 추천 방법
df.loc[max_ind]['메뉴'] # 다른 방법

In [ ]:
df.nlargest(3, '가격')

In [ ]:
df.nsmallest(2, '가격')

In [ ]:
# apply 적용해서 새로운 컬럼 생성 (칼로리 컬럼 활용)
def cal(x):
    if x >= 100:
        return "No"
    else:
        return "Yes"

df['먹어도 될까요'] = df['칼로리'].apply(cal)
df

In [ ]:
import pandas as pd
df = pd.DataFrame({'Name': {0: '쿼카', 1: '알파카', 2: '시바견'},
                   '수학': {0: 90, 1: 93, 2: 85},
                   '영어': {0: 92, 1: 84, 2: 86},
                   '국어': {0: 91, 1: 94, 2: 83},})

df

In [ ]:
pd.melt(df, id_vars=['Name'])

In [ ]:
pd.melt(df, id_vars=['Name'], value_vars=['수학', '영어'])

**[연습문제]**

데이터 파일 다운로드 >>  [cafe_review.csv](https://drive.google.com/file/d/1jyxbuLb55gUD0UcW85KOYJgdNQvS90q8/view?usp=sharing)

1. 결측치 처리 (isnull, fillna, loc 등)
전체 결측치가 존재하는 열의 개수를 출력하세요.

원산지 컬럼의 결측값을 "케냐"로 채우세요.

이벤트가 컬럼의 결측값을 3000으로 채우세요.

카푸치노의 원산지를 "베트남"으로 수정하세요. (loc 사용)

칼로리가 100 이상인 메뉴에 대해 이벤트가를 2000으로 변경하세요.

2. 문자열 처리 (replace, split, contains, str.len 등)
'아메리카노'를 '룽고', '녹차'를 '그린티'로 바꾸세요.

변경한 이름을 다시 원래대로 되돌리세요.

메뉴 이름 중 '카페'가 포함된 메뉴는 어떤 것인지 Boolean Series로 확인하세요.

메뉴 이름의 글자 수를 나타내는 메뉴길이 컬럼을 추가하세요.

글자 수가 4자 이상인 메뉴만 필터링해서 출력하세요.

3. 내장 함수 및 통계 함수 활용
가격의 최댓값, 최솟값, 평균값, 중앙값을 각각 출력하세요.

가격의 25% 분위수 이하인 메뉴만 출력하세요.

이벤트가 컬럼의 최빈값을 구하세요.

칼로리가 100 이상이면 "No", 아니면 "Yes"를 나타내는 먹어도 될까요 컬럼을 추가하세요. (apply)

가격 상위 3개 메뉴의 이름과 가격을 출력하세요.

4. 프로젝트 주제: 이벤트가와 실제 가격 분석을 통한 마케팅 타겟 추출
목표: 이벤트 가격이 제공된 메뉴 중 실제 할인률이 높은 상품을 추출

과제:

이벤트가가 존재하는 메뉴만 필터링

할인율 = (가격 - 이벤트가) / 가격 컬럼 추가

할인율이 30% 이상인 메뉴 추출

해당 메뉴들을 가격순으로 정렬 후 시각화 (bar plot)